
.navbar {
    background-color: #58D68D;

}

.QuemSomos {
    background-color: #F7DC6F;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
    
}

.Parceiros{
    background-color: #85C1E9 ;
}

.serviços{
    background-color: #58D68D;
}

.bg-footer{
    background-color: #F7DC6F
}